<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/assets/Sidemenu.css">

    <title>Login Page</title>
</head>
<body>
    <div class="cotainer-login-parent">
        <div class="container-login">
            <div class="login-heading">
                <h1>User Login</h1>
            </div>
            <form method= "POST" action="/login">
                <div class="login-row-1">
                    <label for="userID">User ID</label>
                    <input type="text" id="userID" name="userID" placeholder="Username" autocomplete="off">
                </div>
                <div class="login-row-2">
                    <label for="userPassword">User Password</label>
                    <input type="password" id="userPassword" name="userPassword" placeholder="Password">
                </div>
                <div class="submit-login">
                    <input type="submit" value="Login">
                </div>
                
            </form>
            <div class="guest-user">
                <a href="/guest">Guest User</a>
            </div>
        </div>
    </div>

</body>
</html>